[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
newsapi-python = "*"
stop-words = "*"
unidecode = "*"
dj-database-url = "*"
gunicorn = "*"
sentry-sdk = "*"
whitenoise = "*"
django-extensions = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.8"
