{% extends 'newwws_app/layouts/base.html' %}

{% block content %}

{% load static %}

<!-- Masthead-->
<header class="masthead" style="padding:5%;">
    <div class="container mt-5">
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Post content-->
        <div class="col-lg-12">
            <!-- Title-->
            <h1 class="m-4 text-center"><i class="fas fa-code"></i> Technologies</h1>
            <!-- Author-->
            <h4>Django :</h4>
            <p>The most popular framework Python back-end.</p>
            <h4>Bootstrap :</h4>
            <p>One of the most popular framework front-end.</p>

            <hr />

            <!-- Title-->
            <h1 class="m-4 text-center"><i class="fas fa-server"></i> Serveur</h1>
            <h4>Heroku :</h4>
            <p> Plateform As A Service (PAAS).</p>
            <hr />

            <!-- Title-->
            <h1 class="m-4 text-center"><i class="fas fa-sitemap"></i> Third party</h1>
            <!-- Author-->
            <h4>News API :</h4>
            <p>News API is a simple HTTP REST API for searching and retrieving live articles from all over the web. </p>
            <hr />

            <!-- Title-->
            <h1 class="m-4 text-center"><i class="fas fa-icons"></i> Design</h1>
            <!-- Author-->
            <h4>FontAwesome :</h4>
            <p> Plateform to insert html code icon into project with CDN.</p>
            
            <hr />
            
    </div>
</div>

{% endblock %}


	  <h4>Framework Python (back-end): <a href="https://www.djangoproject.com/" target="_blank">Django</a></h4>

	  <h4>Framework CSS (front-end) : <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" target="_blank">Bootstrap</a></h4>

	  <h4>Thèmatique Bootstrap : <a href="https://blackrockdigital.github.io/startbootstrap-creative/" target="_blank">Startbootstrap-creative</a></h4>

	  <h4>Charte graphique / logo / images : <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9" target="_blank">Compagnie <q><em>Pur Beurre</em></q></a></h4>

	  <h4>Icônes : <a href="https://fontawesome.com/" target="_blank">FontAwesome</a> & <a href="https://thenounproject.com/" target="_blank">TheNounProject</a></h4>

	  <h4>Hébergeur : <a href="https://www.heroku.com/" target="_blank">Heroku</a></h4>